* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #00648f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}

.image {
  width: 200px;
  height: 100px;
  border: 6px solid #faffff;
  border-radius: 15px;
  transform: rotate(135deg);
  box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.5);
}
.image::before {
  content: "  ";
  width: 97px;
  height: 100px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: #e11937;
  position: absolute;
  box-shadow: 6px 0px 0px #faffff;
}
.image::after {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  background-color: #faffff;
  margin-left: 32px;
  margin-top: 32px;
  border-radius: 50px;
  box-shadow: 118px 18px 0px #faffff, 82px -18px 0px #faffff;
}

.image__dominos {
  margin-top: 75px;
}

.image__pizza {
  margin-top: 15px;
}

.image__dominos {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.image__dominos > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
.image__dominos > div.dominos__d {
  background-color: #faffff;
  width: 50px;
  height: 49px;
  border-top-right-radius: 25px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 2px;
}
.image__dominos > div.dominos__d::after {
  content: " ";
  width: 20px;
  height: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 2px;
  background-color: #00648f;
  position: absolute;
}
.image__dominos > div.dominos__o {
  background-color: #faffff;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: 15px;
}
.image__dominos > div.dominos__o::after {
  content: " ";
  background-color: #00648f;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  position: absolute;
}
.image__dominos > div.dominos__m {
  background-color: #faffff;
  width: 35px;
  height: 35px;
  margin-top: 15px;
  border-top-right-radius: 25px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: 26px;
  box-shadow: 25px 0px 0px #faffff;
}
.image__dominos > div.dominos__m::before {
  content: " ";
  background-color: #00648f;
  width: 10px;
  height: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: absolute;
  margin-top: 10px;
  box-shadow: 25px 0px 0px #00648f;
}
.image__dominos > div.dominos__m::after {
  content: " ";
  background-color: #faffff;
  width: 10px;
  height: 35px;
  margin-left: -25px;
  z-index: 100;
  border-radius: 2px;
}
.image__dominos > div.dominos__i {
  width: 12px;
  height: 35px;
  background-color: #faffff;
  margin-top: 15px;
  border-radius: 2px;
}
.image__dominos > div.dominos__i::before {
  content: " ";
  width: 12px;
  height: 12px;
  background-color: #faffff;
  border-radius: 50px;
  position: absolute;
  margin-top: -55px;
}
.image__dominos > div.dominos__n {
  background-color: #faffff;
  width: 35px;
  height: 35px;
  margin-top: 15px;
  border-top-right-radius: 25px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.image__dominos > div.dominos__n::before {
  content: " ";
  background-color: #00648f;
  width: 10px;
  height: 30px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: absolute;
  margin-top: 10px;
}
.image__dominos > div.dominos__n::after {
  content: " ";
  background-color: #faffff;
  width: 10px;
  height: 35px;
  margin-left: -25px;
  z-index: 100;
  border-radius: 2px;
}
.image__dominos > div.dominos__apostrofe {
  width: 13px;
  height: 13px;
  background-color: #faffff;
  border-radius: 50px;
}
.image__dominos > div.dominos__apostrofe::after {
  content: " ";
  width: 4px;
  height: 10px;
  background-color: #faffff;
  border-radius: 50%;
  position: absolute;
  margin-top: 15px;
  margin-left: 0px;
  border-radius: 90% 0 90% 10%;
  transform: rotate(35deg);
}
.image__dominos > div.dominos__s {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 0px;
  transform: rotate(-12deg);
}
.image__dominos > div.dominos__s > div.dominos__top {
  width: 30px;
  height: 20px;
  background-color: #faffff;
  border-radius: 165% 200% 0% 135%;
}
.image__dominos > div.dominos__s > div.dominos__top::before {
  content: " ";
  width: 15px;
  height: 3px;
  background-color: #00648f;
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
  transform: rotate(35deg);
  border-radius: 6000% 0% 0% 200%;
}
.image__dominos > div.dominos__s > div.dominos__top::after {
  content: " ";
  width: 15px;
  height: 5px;
  background-color: #00648f;
  position: absolute;
  margin-top: 12px;
  margin-left: 25px;
  transform: rotate(-45deg);
}
.image__dominos > div.dominos__s > div.dominos__bottom {
  width: 30px;
  height: 20px;
  background-color: #faffff;
  border-radius: 0% 165% 135% 200%;
  margin-top: -2px;
}
.image__dominos > div.dominos__s > div.dominos__bottom::before {
  content: " ";
  width: 15px;
  height: 3px;
  background-color: #00648f;
  position: absolute;
  margin-top: 0px;
  margin-left: -4px;
  transform: rotate(35deg);
  border-radius: 0% 200% 0% 0%;
}
.image__dominos > div.dominos__s > div.dominos__bottom::after {
  content: " ";
  width: 15px;
  height: 5px;
  background-color: #00648f;
  position: absolute;
  margin-top: 4px;
  margin-left: -10px;
  transform: rotate(-45deg);
}
.image__dominos > div.dominos__p {
  background-color: #faffff;
  width: 40px;
  height: 35px;
  border-top-right-radius: 25px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 2px;
  margin-left: 2px;
}
.image__dominos > div.dominos__p::before {
  content: " ";
  width: 10px;
  height: 13px;
  border-top-right-radius: 45px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 2px;
  background-color: #00648f;
  position: absolute;
}
.image__dominos > div.dominos__p::after {
  content: " ";
  width: 13px;
  height: 48px;
  background-color: #faffff;
  position: absolute;
  margin-left: -27px;
  margin-top: 15px;
  border-radius: 2px;
}
.image__dominos > div.dominos__z {
  width: 35px;
  height: 12px;
  background-color: #faffff;
  border-radius: 2px;
  margin-top: 17px;
  box-shadow: 0px 21px 0px #faffff;
}
.image__dominos > div.dominos__z::after {
  content: " ";
  width: 35px;
  height: 12px;
  position: absolute;
  background-color: #faffff;
  border-radius: 2px;
  margin-top: 21px;
  transform: rotate(-36deg);
}
.image__dominos > div.dominos__a {
  background-color: #faffff;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: 15px;
}
.image__dominos > div.dominos__a::before {
  content: " ";
  background-color: #00648f;
  width: 13px;
  height: 13px;
  border-radius: 50px;
  position: absolute;
  margin-left: 5px;
}
.image__dominos > div.dominos__a::after {
  content: " ";
  background-color: #faffff;
  width: 13px;
  height: 35px;
  border-radius: 2px;
  position: absolute;
  margin-left: 32px;
}
.image__dominos > div.dominos__r {
  width: 8px;
  height: 8px;
  border: 1px solid #faffff;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 5px;
}
.image__dominos > div.dominos__r::before {
  content: "";
  width: 1px;
  height: 6px;
  position: absolute;
  background-color: #faffff;
  margin-left: -3px;
}
.image__dominos > div.dominos__r::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: #faffff;
  margin-top: -2px;
  border-radius: 0% 50% 50% 0%;
}
.image__dominos > div.dominos__r > div.dominos__r__into {
  width: 2px;
  height: 2px;
  position: absolute;
  background-color: #00648f;
  margin-top: -2px;
  border-radius: 0% 50% 50% 0%;
  z-index: 100;
}
.image__dominos > div.dominos__r > div.dominos__r__into::before {
  content: "";
  width: 1px;
  height: 3px;
  position: absolute;
  background-color: #faffff;
  margin-top: 2px;
  margin-left: 1px;
  transform: rotate(-40deg);
}

.image__tm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 8px;
  margin-top: 35px;
}
.image__tm > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
.image__tm > div.dominos__t {
  width: 1px;
  height: 6px;
  background-color: #faffff;
}
.image__tm > div.dominos__t::before {
  content: "";
  width: 6px;
  height: 1px;
  position: absolute;
  background-color: #faffff;
  margin-top: -5px;
}
.image__tm > div.dominos__m {
  width: 1px;
  height: 6px;
  background-color: #faffff;
  box-shadow: 6px 0px 0px #faffff;
}
.image__tm > div.dominos__m::before {
  content: "";
  width: 1px;
  height: 4px;
  background-color: #faffff;
  margin-left: 4px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(-45deg);
}
.image__tm > div.dominos__m::after {
  content: "";
  width: 1px;
  height: 4px;
  background-color: #faffff;
  margin-left: 8px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
